<div *ngIf="project">
  <h3>{{project.name}}</h3>
  <h4>{{project.director}}</h4>
  <span>{{project.startDate}}</span>
  <span>{{project.endDate}}</span>

  <div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Editar Proyecto</h3>
      </div>
      <form role="form" (submit)="edit()">
        <div class="box-body">
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="project.name">
          </div>
          <div class="form-group">
            <label for="startDate">Fecha de inicio:</label>
            <input type="date" class="form-control" name="startDate" id="startDate" [(ngModel)]="project.startDate">
          </div>
          <div class="form-group">
            <label for="endDate">Fecha de fin:</label>
            <input type="date" class="form-control" name="endDate" id="endDate" [(ngModel)]="project.endDate">
          </div>
        </div>
          <button type="submit" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Eliminar</button>
        <div class="box-footer">
        </div>
      </form>
    </div>
  </div>
</div>

  
</div>
<gantt-chart></gantt-chart>
